- PENDIENTES:
    - Chequear antecedentes
    - Chequear cantidad de fr (que den las sumas)
    - Calcular TAL

In [691]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings 
warnings.filterwarnings('ignore')

# 1- Cargando la base de datos

In [692]:
df = pd.read_excel("BASE.xlsx")

In [693]:
df.head(2)

,-,NOMBRE,EDAD,HC,GENERO,DIAGNOSTICO,CODIGO_DIAGNOSTICO,ANTECEDENTES,NUMERO_ANTECEDENTES,ANTECEDENTE RESPIRATORIO NO: 0 / SI: 1,...,EDAD MATERNA,NIVEL EDUCATIVO MADRE,NIVEL EDUCATIVO PADRE (SI NO HAY PADRE COLOCAR 99999),OCUPACION MADRE,OCUPACION PADRE (SI NO HAY PADRE COLOCAR 99999),MADRE O PADRE TBQ 0: NO / 1: SI,AMBIENTE EPIDEMIOLÓGICO 0: NO / 1: SI,CUAL?,OBSERVACIONES,Unnamed: 51
0,0,"ABALOS, Ciro",99999,1486980,99999,99999,99999,99999,99999,99999,...,99999,99999,99999,99999,99999,99999,99999,99999,Ingreso previo a UTIP,NaN
1,0,"ALBERTTI, Estefania",99999,1481528,99999,99999,99999,99999,99999,99999,...,99999,99999,99999,99999,99999,99999,99999,99999,Ingreso previo a UTIP,NaN

In [694]:
df.columns[9:15]

Index(['ANTECEDENTE RESPIRATORIO      NO: 0 / SI: 1',
       'ANTECEDENTE CARDIOVASCULAR NO: 0 / SI: 1',
       'ANTECEDENTE NEUROLOGICONO: 0 / SI: 1',
       'ANTECEDENTE METABOLICO NO: 0 / SI: 1',
       'ANTECEDENTE ONCOLOGICO  NO: 0 / SI: 1',
       'ANTECEDENTE GENETICO       NO: 0 / SI: 1'],
      dtype='object')

In [695]:
df.rename(columns = {"ANTECEDENTE RESPIRATORIO      NO: 0 / SI: 1": "ANTECEDENTE_RESPIRATORIO",
                     "ANTECEDENTE CARDIOVASCULAR NO: 0 / SI: 1": "ANTECEDENTE_CARDIOVASCULAR",
                     "ANTECEDENTE NEUROLOGICONO: 0 / SI: 1": "ANTECEDENTE_NEUROLOGICONO",
                     "ANTECEDENTE METABOLICO NO: 0 / SI: 1": "ANTECEDENTE_METABOLICO",
                     "ANTECEDENTE ONCOLOGICO  NO: 0 / SI: 1": "ANTECEDENTE_ONCOLOGICO",
                     "ANTECEDENTE GENETICO       NO: 0 / SI: 1": "ANTECEDENTE_GENETICO",
                     "OTROS            NO: 0 / SI: 1": "OTROS"},
                      inplace = True) 

df.rename(columns = {"FACTORES DE RIESGO          (ANOTAR CUAL)": "FACTORES_RIESGO"}, inplace = True)

df.rename(columns = {"TIPO DE EGRESO  VIVO: 0 / MUERTO: 1": "TIPO_EGRESO",
                    "LOCACIÓN DE EGRESO": "LOCACION_EGRESO"}, inplace = True)

df.rename(columns = {"RE-INTERNACIONES NO: 0 / SI: 1": "REINTERNACIONES"}, inplace = True)

df.rename(columns = {"VMi                       NO: 0 / SI: 1": "VMi"}, inplace = True)

df.rename(columns = {"FECHA DE INGRESO HOSPITALARIO dd/mm/aaaa": "FECHA_INGRESO_H",
                     "FECHA INGRESO A SALA DE PEDIATRIA dd/mm/aaaa": "FECHA_INGRESO_P",
                     "FECHA DE ALTA DE SALA DE PEDIATRÍA dd/mm/aaaa": "FECHA_ALTA_P",
                     "FECHA ALTA HOSPITALARIA dd/mm/aaaa": "FECHA_ALTA_H",
                     "DÍAS DE OXIGENOTERAPIA": "DIAS_O2"}, inplace = True)

In [696]:
df.dtypes

-                                                                                           int64
NOMBRE                                                                                     object
EDAD                                                                                        int64
HC                                                                                         object
GENERO                                                                                      int64
DIAGNOSTICO                                                                                object
CODIGO_DIAGNOSTICO                                                                          int64
ANTECEDENTES                                                                               object
NUMERO_ANTECEDENTES                                                                         int64
ANTECEDENTE_RESPIRATORIO                                                                    int64
ANTECEDENTE_CARDIOVASCULAR                                                                  int64
ANTECEDENTE_NEUROLOGICONO                                                                   int64
ANTECEDENTE_METABOLICO                                                                      int64
ANTECEDENTE_ONCOLOGICO                                                                      int64
ANTECEDENTE_GENETICO                                                                        int64
OTROS                                                                                       int64
FACTORES_RIESGO                                                                            object
CANTIDAD FACTORES DE RIESGO                                                                 int64
< 3 MESES NO: 0 / SI: 1                                                                   float64
RNPT       NO: 0 / SI: 1                                                                  float64
BPEG       NO: 0 / SI: 1                                                                  float64
DESNUTRIDO            NO: 0 / SI: 1                                                       float64
CARDIOPATA     NO: 0 / SI: 1                                                              float64
TAL AL INGRESO HOSPITALARIO                                                                 int64
VACUNAS                                            0: INCOMPLETAS 1: COMPLETAS              int64
NEUMOCOCO COMPLETO                   0: NO / 1: SI                                          int64
FECHA_INGRESO_H                                                                            object
FECHA_INGRESO_P                                                                            object
FECHA_ALTA_P                                                                               object
ATELECTASIA                   NO: 0 / SI: 1                                                 int64
TIPO_EGRESO                                                                                 int64
LOCACION_EGRESO                                                                             int64
VMi                                                                                         int64
FECHA_ALTA_H                                                                               object
DIAS_O2                                                                                     int64
REINTERNACIONES                                                                             int64
NUMERO DE          RE-INTERNACIONES                                                         int64
Unnamed: 37                                                                               float64
Unnamed: 38                                                                               float64
Unnamed: 39                                                                               float64
FECHA            INGRESO                    REINTERNACION                                  object
FECHA            EGRESO                    REINTERNACION                                   object
EDAD MATERNA                                                                                int64
NIVEL EDUCATIVO MADRE                                                                       int64
NIVEL EDUCATIVO PADRE                                  (SI NO HAY PADRE COLOCAR 99999)      int64
OCUPACION MADRE                                                                            object
OCUPACION PADRE                       (SI NO HAY PADRE COLOCAR 99999)                      object
MADRE O PADRE TBQ 0: NO / 1: SI                                                             int64
AMBIENTE EPIDEMIOLÓGICO   0: NO / 1: SI                                                     int64
CUAL?                                                                                      object
OBSERVACIONES                                                                              object
Unnamed: 51                                                                                object
dtype: object

In [697]:
df_CI = df[df["-"] == 1]
df_CI.head()

,-,NOMBRE,EDAD,HC,GENERO,DIAGNOSTICO,CODIGO_DIAGNOSTICO,ANTECEDENTES,NUMERO_ANTECEDENTES,ANTECEDENTE_RESPIRATORIO,...,EDAD MATERNA,NIVEL EDUCATIVO MADRE,NIVEL EDUCATIVO PADRE (SI NO HAY PADRE COLOCAR 99999),OCUPACION MADRE,OCUPACION PADRE (SI NO HAY PADRE COLOCAR 99999),MADRE O PADRE TBQ 0: NO / 1: SI,AMBIENTE EPIDEMIOLÓGICO 0: NO / 1: SI,CUAL?,OBSERVACIONES,Unnamed: 51
2,1,"ACEVEDO, Noah",1,1484441,1,BQL,1,NO,0,0,...,39,1,3,AMA DE CASA,EMPLEADO,0,1,88888,-,NaN
3,1,"ACHAVAL, Pilar Franchesca",0,1490080,0,BQL,1,NO,0,0,...,88888,88888,88888,88888,88888,88888,88888,88888,-,NaN
4,1,"ACOSTA, Erik",3,1494868,1,IRAB,0,SBO AMBULATORIO,1,1,...,34,4,3,AMA DE CASA,EMPLEADO,0,1,88888,-,NaN
6,1,"ACUÑA GOMEZ, Federico Gael",3,1492129,1,NMN,2,SBO AMBULATORIO,1,1,...,36,3,4,EMPLEADA,EMPLEADO,0,1,88888,-,NaN
7,1,"ACUÑA ROJAS, Gael",3,1460482,1,IRAB,0,SBO AMBULATORIO,1,1,...,27,2,4,EMPLEADA,OFICIO,0,1,88888,-,NaN

In [698]:
print("Total de pacientes:", df.shape[0])
print("Cumplen CI:", df_CI.shape[0])
print(f"Representa el {round(df_CI.shape[0] / df.shape[0]  * 100 , 2)}% de la muestra.")

Total de pacientes: 564
Cumplen CI: 317
Representa el 56.21% de la muestra.

# 1- EDAD

In [699]:
print("Distribución de las categorías por edad:")
print("1: < 1 MES")
print("2:>= 1 MES o < 6 MESES ")
print("3:>= 6 MES o < 12 MESES")
print("0:<= 24 MESES")
print("\n")
display(df_CI["EDAD"].value_counts().sort_index())
print("---------" * 2)
round(df_CI["EDAD"].value_counts(normalize = True) * 100, 2).sort_index()

Distribución de las categorías por edad:
1: < 1 MES
2:>= 1 MES o < 6 MESES
3:>= 6 MES o < 12 MESES
0:<= 24 MESES

0     15
1    152
2     87
3     63
Name: EDAD, dtype: int64

------------------

0     4.73
1    47.95
2    27.44
3    19.87
Name: EDAD, dtype: float64

In [700]:
df_CI["EDAD"].isna().sum()
print("No hay nulos en columna 'EDAD'.")

No hay nulos en columna 'EDAD'.

# 2- GENERO

In [701]:
print("Distribución de las categorías por género:")
print("0: Femenino")
print("1: Masculino")
print("\n")
display(df_CI["GENERO"].value_counts().sort_index())
print("---------" * 2)
round(df_CI["GENERO"].value_counts(normalize = True) * 100, 2).sort_index()

Distribución de las categorías por género:
0: Femenino
1: Masculino

0    141
1    176
Name: GENERO, dtype: int64

------------------

0    44.48
1    55.52
Name: GENERO, dtype: float64

In [702]:
df_CI["GENERO"].isna().sum()
print("No hay nulos en columna 'GENERO'.")

No hay nulos en columna 'GENERO'.

# 3- DIAGNOSTICO

In [703]:
print("Distribución de las categorías por diagnóstico:")
print("0: IRAB")
print("1: BQL")
print("2: NMN")
print("3: NMN + DERRAME")
print("6: BQL + NMN")

print("\n")
display(df_CI["DIAGNOSTICO"].value_counts())
print("---------" * 2)
round(df_CI["DIAGNOSTICO"].value_counts(normalize = True) * 100, 2)

Distribución de las categorías por diagnóstico:
0: IRAB
1: BQL
2: NMN
3: NMN + DERRAME
6: BQL + NMN

BQL              180
NMN               59
IRAB              58
BQL + NMN         15
NMN + DERRAME      5
Name: DIAGNOSTICO, dtype: int64

------------------

BQL              56.78
NMN              18.61
IRAB             18.30
BQL + NMN         4.73
NMN + DERRAME     1.58
Name: DIAGNOSTICO, dtype: float64

In [704]:
df_CI["DIAGNOSTICO"].isna().sum()
print("No hay nulos en columna 'DIAGNOSTICO'.")

No hay nulos en columna 'DIAGNOSTICO'.

# 4- ANTECEDENTES

In [705]:
#df_CI["NUMERO_ANTECEDENTES"] = control_antecedentes.iloc[:, 8:16].sum(axis = 1)

In [706]:
df_CI["ANTECEDENTES"].value_counts().head()

NO                      161
SBO AMBULATORIO          78
UTIN                      7
UTIN-SBO AMBULATORIO      3
HIRSCHPRUNG - UTIN        1
Name: ANTECEDENTES, dtype: int64

In [707]:
top_antecedente = df_CI["ANTECEDENTES"].value_counts().head(1)

print(f"160 pacientes no tuvieron antecedentes. Esto representa el {round(160 / df_CI.shape[0] * 100, 2)}%.")

160 pacientes no tuvieron antecedentes. Esto representa el 50.47%.

In [708]:
n_sbo = df_CI[df_CI["ANTECEDENTES"].str.contains("SBO")].shape[0]
print(f"99 pacientes con antecedente de 'SBO'. Esto representa el {round(n_sbo / df_CI.shape[0] * 100, 2)}%.")

99 pacientes con antecedente de 'SBO'. Esto representa el 31.23%.

In [709]:
print("Nro de antecedentes (n):")
display(df_CI["NUMERO_ANTECEDENTES"].value_counts().sort_index())
print("\n")
print("Nro de antecedentes (%):")
round(df_CI["NUMERO_ANTECEDENTES"].value_counts(normalize = True) * 100, 2)

Nro de antecedentes (n):

0    161
1    116
2     24
3     10
4      2
5      1
6      2
8      1
Name: NUMERO_ANTECEDENTES, dtype: int64

Nro de antecedentes (%):

0    50.79
1    36.59
2     7.57
3     3.15
4     0.63
6     0.63
5     0.32
8     0.32
Name: NUMERO_ANTECEDENTES, dtype: float64

In [710]:
n_ant_median = df_CI["NUMERO_ANTECEDENTES"].median()
print(f"La mediana de nro de antecedentes fue de {n_ant_median}.")

La mediana de nro de antecedentes fue de 0.0.

In [711]:
df_CI[df_CI["NUMERO_ANTECEDENTES"] == 0].shape

(161, 52)

In [712]:
df_CI[df_CI["ANTECEDENTES"] == "NO"].shape

(161, 52)

In [713]:
df_CI[(df_CI["NUMERO_ANTECEDENTES"] == 0) & (df_CI["ANTECEDENTES"] != "NO")][["NOMBRE", "ANTECEDENTES", "NUMERO_ANTECEDENTES"]]

Empty DataFrame
Columns: [NOMBRE, ANTECEDENTES, NUMERO_ANTECEDENTES]
Index: []

In [714]:
antecedentes1 = df_CI[df_CI["NUMERO_ANTECEDENTES"] == 1]
antecedentes2 = df_CI[df_CI["NUMERO_ANTECEDENTES"] == 2]
antecedentes3 = df_CI[df_CI["NUMERO_ANTECEDENTES"] == 3]
antecedentes4 = df_CI[df_CI["NUMERO_ANTECEDENTES"] == 4]
antecedentes5 = df_CI[df_CI["NUMERO_ANTECEDENTES"] == 5]
antecedentes6 = df_CI[df_CI["NUMERO_ANTECEDENTES"] == 6]
antecedentes8 = df_CI[df_CI["NUMERO_ANTECEDENTES"] == 8]

In [715]:
antecedentes_col = ['ANTECEDENTE_RESPIRATORIO', 'ANTECEDENTE_CARDIOVASCULAR',
                    'ANTECEDENTE_NEUROLOGICONO', 'ANTECEDENTE_METABOLICO',
                    'ANTECEDENTE_ONCOLOGICO', 'ANTECEDENTE_GENETICO', 'OTROS']

In [716]:
antecedentes1["NUMERO_ANTECEDENTES"].sum()

116

In [717]:
antecedentes2["NUMERO_ANTECEDENTES"].sum()

48

In [718]:
antecedentes3["NUMERO ANTECEDENTES"].sum()

KeyError: 'NUMERO ANTECEDENTES'

In [719]:
antecedentes4["NUMERO ANTECEDENTES"].sum()

KeyError: 'NUMERO ANTECEDENTES'

In [720]:
antecedentes6["NUMERO ANTECEDENTES"].sum()

KeyError: 'NUMERO ANTECEDENTES'

In [721]:
print("Antecedente más predominante para los pacientes que tienen 1 antecedente.\n")

for i in antecedentes_col:
    print(f"{i}:")
    print("---" * 8)
    print(antecedentes1[i].sum())

Antecedente más predominante para los pacientes que tienen 1 antecedente.

ANTECEDENTE_RESPIRATORIO:
------------------------
87
ANTECEDENTE_CARDIOVASCULAR:
------------------------
1
ANTECEDENTE_NEUROLOGICONO:
------------------------
0
ANTECEDENTE_METABOLICO:
------------------------
2
ANTECEDENTE_ONCOLOGICO:
------------------------
0
ANTECEDENTE_GENETICO:
------------------------
7
OTROS:
------------------------
19

In [722]:
print("Antecedente más predominante para los pacientes que tienen 2 antecedentes.\n")

for i in antecedentes_col:
    print(f"{i}:")
    print("---" * 8)
    print(antecedentes2[i].sum())

Antecedente más predominante para los pacientes que tienen 2 antecedentes.

ANTECEDENTE_RESPIRATORIO:
------------------------
16
ANTECEDENTE_CARDIOVASCULAR:
------------------------
5
ANTECEDENTE_NEUROLOGICONO:
------------------------
2
ANTECEDENTE_METABOLICO:
------------------------
3
ANTECEDENTE_ONCOLOGICO:
------------------------
0
ANTECEDENTE_GENETICO:
------------------------
4
OTROS:
------------------------
12

In [723]:
print("Antecedente más predominante para los pacientes que tienen 3 antecedentes.\n")

for i in antecedentes_col:
    print(f"{i}:")
    print("---" * 8)
    print(antecedentes3[i].sum())

Antecedente más predominante para los pacientes que tienen 3 antecedentes.

ANTECEDENTE_RESPIRATORIO:
------------------------
5
ANTECEDENTE_CARDIOVASCULAR:
------------------------
4
ANTECEDENTE_NEUROLOGICONO:
------------------------
1
ANTECEDENTE_METABOLICO:
------------------------
4
ANTECEDENTE_ONCOLOGICO:
------------------------
0
ANTECEDENTE_GENETICO:
------------------------
1
OTROS:
------------------------
5

In [724]:
print("Antecedente más predominante para los pacientes que tienen 4 antecedentes.\n")

for i in antecedentes_col:
    print(f"{i}:")
    print("---" * 8)
    print(antecedentes4[i].sum())

Antecedente más predominante para los pacientes que tienen 4 antecedentes.

ANTECEDENTE_RESPIRATORIO:
------------------------
2
ANTECEDENTE_CARDIOVASCULAR:
------------------------
2
ANTECEDENTE_NEUROLOGICONO:
------------------------
0
ANTECEDENTE_METABOLICO:
------------------------
1
ANTECEDENTE_ONCOLOGICO:
------------------------
0
ANTECEDENTE_GENETICO:
------------------------
2
OTROS:
------------------------
1

In [725]:
print("Antecedente más predominante para los pacientes que tienen 5 antecedentes.\n")

for i in antecedentes_col:
    print(f"{i}:")
    print("---" * 8)
    print(antecedentes5[i].sum())

Antecedente más predominante para los pacientes que tienen 5 antecedentes.

ANTECEDENTE_RESPIRATORIO:
------------------------
1
ANTECEDENTE_CARDIOVASCULAR:
------------------------
1
ANTECEDENTE_NEUROLOGICONO:
------------------------
1
ANTECEDENTE_METABOLICO:
------------------------
1
ANTECEDENTE_ONCOLOGICO:
------------------------
0
ANTECEDENTE_GENETICO:
------------------------
0
OTROS:
------------------------
0

In [726]:
print("Antecedente más predominante para los pacientes que tienen 6 antecedentes.\n")

for i in antecedentes_col:
    print(f"{i}:")
    print("---" * 8)
    print(antecedentes6[i].sum())

Antecedente más predominante para los pacientes que tienen 6 antecedentes.

ANTECEDENTE_RESPIRATORIO:
------------------------
2
ANTECEDENTE_CARDIOVASCULAR:
------------------------
0
ANTECEDENTE_NEUROLOGICONO:
------------------------
2
ANTECEDENTE_METABOLICO:
------------------------
0
ANTECEDENTE_ONCOLOGICO:
------------------------
0
ANTECEDENTE_GENETICO:
------------------------
2
OTROS:
------------------------
2

In [727]:
print("Antecedente más predominante para los pacientes que tienen 8 antecedentes.\n")

for i in antecedentes_col:
    print(f"{i}:")
    print("---" * 8)
    print(antecedentes8[i].sum())

Antecedente más predominante para los pacientes que tienen 8 antecedentes.

ANTECEDENTE_RESPIRATORIO:
------------------------
1
ANTECEDENTE_CARDIOVASCULAR:
------------------------
1
ANTECEDENTE_NEUROLOGICONO:
------------------------
1
ANTECEDENTE_METABOLICO:
------------------------
1
ANTECEDENTE_ONCOLOGICO:
------------------------
0
ANTECEDENTE_GENETICO:
------------------------
1
OTROS:
------------------------
1

# 5- FACTORES DE RIESGO

In [728]:
top_antecedente = df_CI["FACTORES_RIESGO"].value_counts().head(1)

print(f"188 pacientes no tuvieron factores de riesgo. Esto representa el {round(188 / df_CI.shape[0] * 100, 2)}%.")

188 pacientes no tuvieron factores de riesgo. Esto representa el 59.31%.

In [729]:
n_3meses = df_CI[df_CI["FACTORES_RIESGO"].str.contains("MESES", na = False)].shape[0]
print(f"88 pacientes con factores de riesgo '< 3 MESES'. Esto representa el {round(n_3meses / df_CI.shape[0] * 100, 2)}%.")

88 pacientes con factores de riesgo '< 3 MESES'. Esto representa el 27.76%.

In [730]:
print("Se muestra el top 5")
print("\n")
print("Nro de factores de riesgo (n):")
display(df_CI["FACTORES_RIESGO"].value_counts().head())
print("\n")
print("Nro de factores de riesgo (%):")
round(df_CI["FACTORES_RIESGO"].value_counts(normalize = True).head() * 100, 2)

Se muestra el top 5


Nro de factores de riesgo (n):

NO                         188
< 3 MESES                   77
RNPT                        18
BPEG                         9
< 3 MESES - RNPT - BPEG      4
Name: FACTORES_RIESGO, dtype: int64

Nro de factores de riesgo (%):

NO                         59.31
< 3 MESES                  24.29
RNPT                        5.68
BPEG                        2.84
< 3 MESES - RNPT - BPEG     1.26
Name: FACTORES_RIESGO, dtype: float64

# 6- MORTALIDAD

In [731]:
df_CI["TIPO_EGRESO"].value_counts()
print("La mortalidad fue del 0%")

La mortalidad fue del 0%

# 7- LOCACION DE EGRESO

In [732]:
print("Distribución de las categorías por Locación de egreso:")
print("0: DOMICILIO")
print("1: MAYOR COMPLEJIDAD")
print("2: OTRA INSTITUCION")

print("\n")
display(df_CI["LOCACION_EGRESO"].value_counts())
print("---------" * 2)
round(df_CI["LOCACION_EGRESO"].value_counts(normalize = True) * 100, 2)

Distribución de las categorías por Locación de egreso:
0: DOMICILIO
1: MAYOR COMPLEJIDAD
2: OTRA INSTITUCION

0    279
1     37
2      1
Name: LOCACION_EGRESO, dtype: int64

------------------

0    88.01
1    11.67
2     0.32
Name: LOCACION_EGRESO, dtype: float64

# 8- REINTERNACIONES

In [733]:
print("Distribución de las categorías por número de reinternaciones:")

print("\n")
display(df_CI["REINTERNACIONES"].value_counts())
print("---------" * 2)
round(df_CI["REINTERNACIONES"].value_counts(normalize = True) * 100, 2)

Distribución de las categorías por número de reinternaciones:

0    264
1     53
Name: REINTERNACIONES, dtype: int64

------------------

0    83.28
1    16.72
Name: REINTERNACIONES, dtype: float64

# 9- DIAS O2

In [734]:
print(f"Mediana de días de oxigenoterapia: {df_CI['DIAS_O2'].median()}")
print(f"Media de días de oxigenoterapia: {round(df_CI['DIAS_O2'].mean(), 2)}")

Mediana de días de oxigenoterapia: 4.0
Media de días de oxigenoterapia: 5.15

# 10- DIAS DE INTERNACION

In [735]:
df_CI[["FECHA_INGRESO_H", "FECHA_INGRESO_P", "FECHA_ALTA_P", "FECHA_ALTA_H"]].head(1)

  FECHA_INGRESO_H FECHA_INGRESO_P FECHA_ALTA_P FECHA_ALTA_H
2      21/06/2019      21/06/2019   26/06/2019   26/06/2019

In [736]:
df_CI[["FECHA_INGRESO_H", "FECHA_INGRESO_P", "FECHA_ALTA_P", "FECHA_ALTA_H"]].dtypes

FECHA_INGRESO_H    object
FECHA_INGRESO_P    object
FECHA_ALTA_P       object
FECHA_ALTA_H       object
dtype: object

In [737]:
df_CI.loc[df_CI["FECHA_INGRESO_H"] == "88888", "FECHA_INGRESO_H"] = np.nan
df_CI.loc[df_CI["FECHA_ALTA_H"] == "88888", "FECHA_ALTA_H"] = np.nan

In [738]:
df_CI["FECHA_INGRESO_H"] = pd.to_datetime(df_CI["FECHA_INGRESO_H"], infer_datetime_format = True)
df_CI["FECHA_ALTA_H"] = pd.to_datetime(df_CI["FECHA_ALTA_H"], infer_datetime_format = True)

In [739]:
df_CI[["FECHA_INGRESO_H", "FECHA_INGRESO_P", "FECHA_ALTA_P", "FECHA_ALTA_H"]].dtypes

FECHA_INGRESO_H    datetime64[ns]
FECHA_INGRESO_P            object
FECHA_ALTA_P               object
FECHA_ALTA_H       datetime64[ns]
dtype: object

In [740]:
df_CI["DIAS_ESTADIA_H"] = df_CI["FECHA_ALTA_H"] - df_CI["FECHA_INGRESO_H"]

In [741]:
df_CI[df_CI["DIAS_ESTADIA_H"] < pd.Timedelta(0)]

Empty DataFrame
Columns: [-, NOMBRE, EDAD, HC, GENERO, DIAGNOSTICO, CODIGO_DIAGNOSTICO, ANTECEDENTES, NUMERO_ANTECEDENTES, ANTECEDENTE_RESPIRATORIO, ANTECEDENTE_CARDIOVASCULAR, ANTECEDENTE_NEUROLOGICONO, ANTECEDENTE_METABOLICO, ANTECEDENTE_ONCOLOGICO, ANTECEDENTE_GENETICO, OTROS, FACTORES_RIESGO, CANTIDAD FACTORES DE RIESGO, < 3 MESES NO: 0 / SI: 1, RNPT       NO: 0 / SI: 1, BPEG       NO: 0 / SI: 1, DESNUTRIDO            NO: 0 / SI: 1, CARDIOPATA     NO: 0 / SI: 1, TAL AL INGRESO HOSPITALARIO, VACUNAS                                            0: INCOMPLETAS 1: COMPLETAS, NEUMOCOCO COMPLETO                   0: NO / 1: SI, FECHA_INGRESO_H, FECHA_INGRESO_P, FECHA_ALTA_P, ATELECTASIA                   NO: 0 / SI: 1, TIPO_EGRESO, LOCACION_EGRESO, VMi, FECHA_ALTA_H, DIAS_O2, REINTERNACIONES, NUMERO DE          RE-INTERNACIONES, Unnamed: 37, Unnamed: 38, Unnamed: 39, FECHA            INGRESO                    REINTERNACION, FECHA            EGRESO                    REINTERNACION, EDAD MATERNA, NIVEL EDUCATIVO MADRE, NIVEL EDUCATIVO PADRE                                  (SI NO HAY PADRE COLOCAR 99999), OCUPACION MADRE, OCUPACION PADRE                       (SI NO HAY PADRE COLOCAR 99999), MADRE O PADRE TBQ 0: NO / 1: SI, AMBIENTE EPIDEMIOLÓGICO   0: NO / 1: SI, CUAL?, OBSERVACIONES, Unnamed: 51, DIAS_ESTADIA_H]
Index: []

[0 rows x 53 columns]

In [742]:
print(f"La mediana de días de internación fue de {df_CI['DIAS_ESTADIA_H'].median()} días.")

La mediana de días de internación fue de 6 days 00:00:00 días.